* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  background-color: #0d1016;
  /* height: fit-content; */
}

.backgroundImage{
  width: 100%;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}