.hero-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hero{
    display: grid;
    grid-template-columns: 1.2fr 1fr;
    grid-template-rows: repeat(5, 1fr);
    width: 95%;
    padding: 0.5rem;
    margin-top: 2rem;
    color: #fdfdfd;
    gap: 1rem;
    height: 75vh;
}

.hero-item{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #fdfdfd;
    border-radius: 40px;
}

.title{
    grid-row-start: 1;
    grid-row-end: 6;
}

.description{
    grid-row-start: 3;
    grid-row-end: 6;
}

.video-div{
    grid-row-start: 1;
    grid-row-end: 3;
}

.hero-information{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    width: 95%;
    padding: 0.5rem;
    margin-top: 2rem;
    color: #fdfdfd;
    gap: 1rem;
    height: 30vh;
}

.calander{
    grid-row-start: 1;
    grid-row-end: 4;
}

.connect{
    grid-row-start: 4;
    grid-row-end: 6;
}

.photo{
    grid-row-start: 1;
    grid-row-end: 6;
}