body {
  color: #fff;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 96%;
  height: 96%;
}

.heading {
  background-image: url(../../assets/Team/Page_assets/HeadingBackground.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  background-color: #1e1e1e;
  display: flex;
  justify-content: start;
  align-items: center;
  border-radius: 2.2rem;
  margin-top: 2rem;
  > h1 {
    font-size: 4rem;
    font-weight: 700;
    text-align: center;
    padding: 2rem;
    padding-left: 4rem;
    font-family: "KunnariBold";
  }
}

.detailsGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  width: 96vw;
}

.teamCard {
  grid-column-start: 1;
  grid-column-end: 3;
}

.nextMember {
  grid-column-start: 3;
  grid-column-end: 4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.name {
  font-size: 2rem;
  font-weight: bold;
  border-bottom: 0.25rem solid #5a5b5e;
  font-family: Lato;
  color: #5a5b5e;
  padding: 0.8rem;
  padding-bottom: 0.5rem;
  cursor: pointer;
  text-align: center;
}

.designation {
  font-size: 2rem;
  font-family: "KunnariLight";
  font-style: italic;
  padding: 0.6rem;
  color: #5a5b5e;
  cursor: pointer;
  text-align: center;
}

.teamRow {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  gap: 1rem;
  width: 98%;
}

.teamImg {
  height: 16vh;
  cursor: pointer;
}

.activeImage {
  border-image: linear-gradient(to right, #3cdefe, #0077f6) 30;
  border-width: 0.2rem;
  border-style: solid;
  padding: 1rem;
}

@media (width < 1000px) {
  .name {
    font-size: 1.2rem;
    font-weight: 450;
  }
}
@media (width < 650px) {
  .nextMember {
    display: none;
  }
  .detailsGrid {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  .teamCard {
    width: 100%;
  }
  .heading > h1 {
    padding: 1rem 2rem;
  }
}
