.Body{
    background:  #1E1E25;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 4% 4.5%;
}
.sub{
    
    display: grid;
    grid-template-areas: "card card";
    padding: 5% 0;
    grid-row-gap: 2rem;
    grid-column-gap: 2rem;
}



.heading{
    font-family: 'Magilio';
    font-size: 4.5rem;
    color: #fff;
    padding-left: 2%;
}