.container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    justify-items: center;
    padding-top: 5%;
    padding-bottom: 5%;
}

@media (min-width: 0px) and (max-width: 450px) {
    .container{
        padding: 0 2rem 0 2rem;
    }
}