.label {
    font-size: 1.25rem;
    font-style:italic;
    color: #ECECEC;
}

.img {
    height: 50vh;
    width: 27vw;
    border-radius: 8px ;
    background: #3c3c3c;
    object-fit: fill;
    display:flex;
    float:right;
    margin-right:12vw;
    margin-top:1.5vh;
}



.heading{    
color: #FFF;
font-family: Lato;
font-size: 40px;
font-style: normal;
font-weight: 900;
line-height: 150%;
width:40%;
margin-left:12vw;
}

.desc {
    color: #FFF;
    text-align: justify;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    width: 40%;
    margin-left:12vw;
}

.link{
    text-decoration: none !important;
}

.date{
    color: #FFF;
    text-align: justify;
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    font-weight: bold;
    margin-left:12vw;
}

.containerClass{
    margin-top:10vh;
}

.viewTalk{
    color: #0500FF;
    font-family: "KunnariLight";
    font-size: 36px;
    font-style: italic;
    font-weight: bolder;
    line-height: 150%;
    margin-left:12vw;
    margin-top:2vw;
}
.labelBlue{
    font-family: "KunnariLight";
    font-size: 24px;
    font-style: normal;
    font-weight: bolder;
    line-height: 20.8px; /* 86.667% */
    letter-spacing: 0.48px;background: linear-gradient(101deg, #0500FF -10.97%, #0099B3 116.03%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-left:12vw;
    margin-bottom:2vh;
}

.img2{
    margin-top:5vw;
    margin-left:10vw;
}
.vl{
    border-left: 0.5px solid rgb(255, 255, 255);
    height: 82vh;
    margin-left:5vw;
    
    float:left;
    opacity: 20%;
    
}

