.containerClass {
  margin: 0rem 4rem 0 4rem;
  padding: 4rem 2rem 4rem 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: auto;
  border-left: 4px solid #36383c;
  border-image: linear-gradient(
      to bottom,
      #0098b2 3%,
      #0254e1 12%,
      transparent 12%,
      #36383c 13%
    )
    30;
  /* border-bottom: 2px solid #FFF; */
  transform-origin: 10% 60%;
  position: relative;
}
.containerClass::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 90%;
  height: 2px;
  background-color: #868686;
}

.imageDiv {
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img {
  height: 50vh;
  width: 30vw;
  border-radius: 8px;
  object-fit: fill;
  display: flex;
  float: right;
}

.content {
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}

.heading {
  color: #fff;
  font-family: Lato;
  font-size: 3rem;
  font-style: normal;
  font-weight: 900;
  line-height: 150%;
  width: 40%;
}

.desc {
  color: #fff;
  text-align: justify;
  font-family: Lato;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  width: 100%;
}

.link {
  text-decoration: none !important;
}

.date {
  color: #fff;
  text-align: justify;
  font-family: Lato;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  font-weight: bold;
}

@media (min-width: 0px) and (max-width: 450px) {
  .containerClass {
    margin: 0;
    padding: 0;
    flex-direction: column;
    width: 100%;
  }
  .imageDiv{
    width: 100%;
    padding: 2rem;
  }
  .img{
    width: 100%;
    height: 100%;
  }
  .content{
    width: 100%;
    width: 100%;
    padding: 2rem 0 0 2rem;
  }
  .heading{
    width: 100%;
    font-size: 2rem;
  }
}