@font-face {
    font-family: 'Lato';
    src: url(../../fonts/LatoRegular.woff2);
}

@font-face {
    font-family: 'KunnariBold';
    src: url(../../fonts/KuunariBold.otf);
}
@font-face {
    font-family: 'Kunnari';
    src: url(../../fonts/KuunariRegularItalic.otf);
}

.footer {
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    width: 95%;
    padding: 0.5rem;
    margin-top: 2rem;
    color: #fdfdfd;
    background-image: url(../../assets/Footer/Footerbackground.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #fdfdfd;
    border-radius: 3rem;
    height: 75vh;
}

.footerItem1 {
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    grid-row-start: 1;
    grid-row-end: 6;
    word-spacing: 0;
    >h1 {
        height: 30%;
        letter-spacing: 1px;
        font-family: 'KunnariBold';
        font-size: 8vw;
        width: 60%;
        display: flex;
        justify-content: end;
    }
}

.footerItem2 {
    grid-row-start: 6;
    grid-row-end: 7;
    display: flex;
    justify-content: end;
    align-items: end;
    flex-direction: column;
    width: 100%;
    >div>h3{
        color: #1E1E1E;
        font-family: 'LatoRegular';
        font-size: 2vw;
        font-style: italic;
        font-weight: 300;
        margin: 0;
    }
    >div>h4{
        color: #1E1E1E;
        font-family: 'LatoRegular';
        font-size: 1vw;
        font-style: italic;
        margin: 0;
    }
    >div>h1 {
        display: flex;
        justify-content: end;
        align-items: end;
        height: 50%;
        color: #1E1E1E;
        font-size: 10vh;
        font-family: 'Kunnari';
        margin: 0;
    }
}

.cube{
    position: absolute;
    width: 11%;
    margin-top: 8%;
    left: 25%;
    z-index: 3;
    rotate: 12deg;
}