.AchivementsCard{
    height: 100%;
    padding: 1rem;
    padding-left: 0;
}
.AchivementsCardContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    height: 100%;
}
.AchivementsCardDate {
    color: #FFF;
    font-family: Lato;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    height: 10%;
}
.AchivementsCardHeading{
    color: #FFF;
    font-family: Kuunari;
    font-size: 2.5rem;
    font-style: italic;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.6px;
    height: 30%;
}
.AchivementsCardDesc{
    color: #FFF;
    font-family: Lato;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 600;
    line-height: 148%;
    height: 60%;
}